.avatarCard {
    width: 230px; height: 230px;
    border: 3px solid transparent;
    transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    border-radius: 50%;
    cursor: pointer;
}

.avatarCard:hover{
    border-color: white;
    transform: scale(1.05);
}

.avatar-image {
    width: 100%; height: 100%;
    pointer-events: none;
}