/* Contenedor */
.carousel-section{
    width: 100%;
    height: 380px;
    position: relative;
    padding: 20px 0px;
    overflow-x: hidden;
}

.carousel-section .carousel { /*Contenedor que cambiar el ancho y alto en la pantalla,
    pero también se debe cambiar el tamaño de imagen.*/
    width: 90%;
    height: 330px;
    margin: auto; /* Para centrar */
}

