/* Contenedor */
.carousel-section{
    width: 100%;
    height: 350px;
    position: relative;
    padding: 20px 0px;
    overflow-x: hidden;
}

.carousel-section .carousel {
    width: 93%;
    height: 300px;
    margin: auto; /* Para centrar */
    box-shadow: rgba(38, 38, 73, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

