.choose-avatar-section {
    width: 100%; height: 100%;
    padding: 20px 60px;
    display: flex; flex-flow: column;
}

.instruction-avatar {
    height: 100px; width: 100%;
    display: flex; align-items: center; justify-content: flex-start;
    color: white;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}

.avatars-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 230px));
    grid-template-rows: repeat(auto-fit, minmax(230px, 230px));
    column-gap: 20px; row-gap: 50px;
    align-items: center;
}