.default-header {
    width: 100%;
    min-height: 70px; max-height: 70px;
    display: flex;
    align-items: center; justify-content: space-between;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    z-index: 100;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center; justify-content: space-between;
    color: white;
    padding: 0px 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    z-index: 101;
    transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03) 15%, rgba(0, 0, 0, 0.125) 30%, rgba(0, 0, 0, 0.25) 46%, rgba(0, 0, 0, 0.4) 61%, rgba(0, 0, 0, 0.553) 75%, rgba(0, 0, 0, 0.694) 88%, rgba(0, 0, 0, 0.8));
}

.options-header{
    display: flex;
    align-items: center; justify-content: space-between;
    width: 75%;
}

.options-header .option{
    display: flex; flex-flow: row;
    justify-content: space-evenly;
    width: 120px;
    cursor: pointer;
}

.options-header .option .svg-option {
    height: 20px; width: 20px;
}

.options-header .option .plus {
    height: 18px; width: 18px;
}

.options-header .option .svg-option svg {
    height: 100%; width: 100%;
}

.logo {
    height: 40px; width: 80px;
    margin-right: 30px;
    cursor: pointer;
}

.logo .img-logo{
    width: 100%; height: 100%;
}

.text-option {
    position: relative;
}

.span-style {
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 0; width: 0;
    transition: all 0.4s ease;
    border-bottom: 2px solid white;
}

.option:hover .span-style {
    width: 100%;
}

.link {
    color: white;
}

.profile-user{
    height: 100%;
    display: flex; align-items: center; justify-content: space-evenly;
    width: 120px;
    position: relative;
}

.profile-picture-header{
    width: 50px; height: 50px;
}

.profile-picture-header .header-picture-profile {
    width: 100%; height: 100%;
}

.username-header,
.profile-picture-header{
    z-index: 20;
}

.signOut-user{
    position: absolute;
    top: -10px; right: -30px;
    height: 0px; width: 180px;
    display: flex; align-items: center; justify-content: flex-start;
    background-color: rgb(26, 29, 41);
    border-radius: 10px ;
    border: 1px solid grey;
    transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.button-log-out{
    display: flex;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 20px;
    padding: 10px 18px;
    transition: 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    cursor: pointer;
    opacity: 0;
}

.profile-user:hover .signOut-user {
    height: 200px;
}

.profile-user:hover .button-log-out {
    opacity: 1;
    transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.log-in-button-header {
    height: 40px; width: 100px;
    display: flex; align-items: center; justify-content: center;
    border-radius: 5px;
    border: 2px solid white;
    transition: 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    font-size: 20px;
}

.log-in-button-header:hover {
    transform: scale(0.95);
}