#movie-card {
    height: 100%; width: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    position: relative;
    align-self: center;
    box-shadow: rgb(0, 0, 0) 0px 20px 20px -20px;
}

#movie-card .effect-border{
    width: 100%; height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    border: 4px solid white;
    opacity: 0;
}

#movie-card:hover{
    transform: scale(1.05);
}

#movie-card:hover .effect-border{
    opacity: 1;
}

.image-movie-card { /* imagenes */
    height: 100%; width: 100%;
}

.add-icon-movieCard{
    position: absolute;
    opacity: 0;
    width: 40px; height: 40px;
    border-radius: 50%;
    bottom: 0px;
    left: 10px;
    background-color: rgb(26, 29, 41);
    transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    cursor: pointer;
    overflow: hidden;
}

#movie-card:hover .add-icon-movieCard{
    opacity: 1;
    bottom: 20px;
}

.add-icon-movieCard:hover svg{
    background-color: #f9f9f9;
    color: black;
}

.add-icon-movieCard:hover path{
    fill: black;
    opacity: 1;
}

.add-icon-movieCard:hover g{
    opacity: 1;
}

.add-icon-userID-null {
    display: none;
}

g,
circle,
path, 
svg {
    pointer-events: none;
}